<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="container">
        {{>Header}}
        <p>{{content}}</p>
    </div>

    <div class="search-area">
        <form action="" id="searchForm">
            <input type="text" placeholder="Enter a location">
            <button type="submit">Submit</button>
        </form>
        <h2 id="weatherInfo-header"></h2>
        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    {{>Footer}}

    <script src="/js/App.js"></script>
</body>
</html>