body{
    color: whitesmoke;
    font-family: "yu Gothic";
    background-color: rgb(24, 21, 21);
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.container{
    min-height: 50vh;
    flex-grow: 1;
}

.search-area{
    min-height: 35vh;
    flex-grow: 1;
}

ul{
    margin-bottom: 50px;
}

li{
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    text-align: left;
    margin-bottom: 10px;
}

.navs{
    text-decoration: none;
    color: whitesmoke;
}

footer{
    color: rgb(214, 210, 210);
    margin-top: 20px;
    border-top: 1px solid white;
    padding: 20px 0;
}

header{

}

h1
{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}